[submodule "turtle-toolkit"]
	path = turtle-toolkit
	url = https://github.com/tomdriley/turtle-toolkit.git
[submodule "rtl-toolkit"]
	path = rtl-toolkit
	url = https://github.com/tomdriley/rtl.git
[submodule "docs"]
	path = docs
	url = https://github.com/tdrinfinity/turtle-docs.git
[submodule "pcb"]
	path = pcb
	url = https://github.com/tdrinfinity/turtle-pcb.git
